@use '@/theme/index.scss' as *;

.formGroup {
  display: flex;
  gap: $spacing-1;
}

.label {
  font-size: $fs-md;
  color: $text-primary;
  display: flex;
  align-items: center;
  gap: $spacing-1;
}

.icon {
  display: flex;
  align-items: center;
}

.error {
  color: $text-error;
  font-size: $fs-sm;
  margin-top: $spacing-1;
}

.radioGroup {
  display: flex;
  gap: $spacing-3;
  align-items: center;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: $spacing-1;
  border: 1px solid $border-light;
  padding: $spacing-2 $spacing-3;
  border-radius: $spacing-1;
}
