.formContainer {
  grid-column: 7 / span 4;
  width: 100%;
  place-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  /* // gap: $spacing-4;
  // background-color: $bg-primary;
  // border-radius: $spacing-2;
  // box-shadow: $shadow-btn, $shadow-modal;
  // padding: $spacing-5 $spacing-4 $spacing-7; */
  width: 400px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.error {
  /* // color: $text-error;
  // padding: $spacing-1; */
}

@media (max-width: 768px) {
  .formContainer {
    grid-column: span 12;
  }
}
