.primary {
  width: 100%;
  padding: 0 16px;
  border-radius: 6px;
  background-color: #0866ff;
  color: #fff;
  font-size: 20px;
  border: none;
  line-height: 48px;
}
.secondary {
  padding: 1rem;
  border-radius: 6px;
  font-size: 17px;
  border: none;
  color: #fff;
  background-color: #42b72a;
}
.link {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #0866ff;
  font-size: 14px;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}
